{%extends "base.html" %}
{% from "macros.html" import render_pagination %}

{% block title %}职位{% endblock %}

{% block body %}
<div class="row">
    {% for job in pagination.items %}
    <div class="col-sm-6 col-md-4 course">
        <div class="thumbnail">
            <div class="caption">
                <a href="{{ job.url }}" target="_blank">
                    <h4 class="job__name">{{ job.title }}</h4>
                </a>
                <p class="job__salary">{{ job.salary }}</p>
                <p class="job__location">{{ job.location }}</p>
                <p class="job__company">{{ job.company.name }}</p>
                <p class="job__created_at">{{ job.created_at }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{{ render_pagination(pagination, 'job.index') }}
{% endblock %}
