{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block body %}
<div class='slogan-container'>
    <h1>Jobplus</h1>
    <h2>一个专注于互联网求职，招聘的互联网平台</h2>
</div>
<ul class="nav nav-tabs list-title">
    <li role="presentation" class="active"><a href="#">最新公司</a></li>
    <li role="presentation" class="active"><a href="#">最新职位</a></li>
</ul>
<div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="thumbnail" style='height: 336px;'>
            <a href="#"><img class="lazy" src="#"></a>
            <div class="caption">
                <p>添加课程</p>
            </div>
        </div>
    </div>
{% endblock %}
