{% extends "base.html" %}

{% block name %}
企业详情 - {{ company.user.name }}
{% endblock %}


{% block body %}
{{ super() }}
<link rel="stylesheet" href="https://static.segmentfault.com/v-5b066a67/company/css/company.css"/>
    <div class="company-detail__base">
        <div class="container">
            <div class="row mt30 mb30" id="infoBoard">
                <div class="col-md-7 col-sm-7">
                    <div class="company-name">
                        <h2 class="hidden-xs">{{ company.user.name }}</h2>
                        <h3 class="visible-xs-block">{{ company.user.name }}</h3>
                        <p class="company-desc ellipsis text-muted">{{ company.description }}</p>
                        <ul class="list-inline ml0 mb0 company-detail-mod-base-info__tags">
                            <li>TBD</li>
                            <li>TBD</li>
                        </ul>
                        <div><a href="{{ company.site }}">网址（以后添加）</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="company-detail__mod">
            <div class="company-detail__mod--content">
                <div class="widget-job-list widget-job-list-company-detail">
                    <h5 class="widget-job-list__heading">招聘职位</h5>
                    <ul class="widget-job-list__list">
                        {% for job in company.jobs[0:2] %}
                        <li class="widget-job-list__item">
                        <a href="{{ job.url }}">
                            <h3 class="widget-job-list__item--title">{{ job.title }}</h3>
                        </a>
                        <p class=" widget-job-list__item--detail">
                        <span class="salary">{{ job.salary }}</span>
                        <span class="experience">{{ job.experience }}</span>
                        </p>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

