{% extends 'base.html' %}
{% from 'macros.html' import render_pagination %}

{% block title %}Company-JOBPLUS{% endblock %}

{% block body %}
<div class="container company">
    <div class='search-company'>
        <div class='row'>
            <div class="col-md-10">
                <input class="form-control" type='company-search' placeholder="输入一个关键字，例如‘python’" value=''></input>
            </div>
            <div class="col-md-2">
                <button class="btn btn-primary search-btn" type='button'>搜索</button>
            </div>
        </div>
    </div>
    <h1 class="nav nav-tabs">企业列表</h1>
    <div class="company-list">
        {% for company in pagination.items %}    
        <div class="col-sm-6 col-md-3 user-item">
          <div class="thumbnail">
              <img src="{{ company.company_detail.logo }}" width="100" height="100" alt="...">
              <h3>{{ company.name }}</h3>
              <p>{{ company.company_detail.field }}</p>
          <hr>
          <p>在招职位：</p>
          </div>
        </div>
        {% endfor %}
    </div>
</div>
{{ render_pagination(pagination, 'company.index') }}
{% endblock %}
